// Custom styles.
body {
        background:url(http://oty1v077k.bkt.clouddn.com/body_girlasideflower.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }

//背景半透明的实现
.content {
            border-radius: 10px;
            margin-top: 60px;
            background:rgba(255,255,255,0.8) none repeat scroll !important;
         }
.header {
            //background: url('../image/head_bgp.jpg');
            background:rgba(0,0,0,0.7) none repeat scroll !important;
        }

#footer {
          background:rgba(0,0,0,0.5) none repeat scroll !important;
        }
#lv-container { border-radius: 10px; background:rgba(255,255,255,0.8) none repeat scroll !important;}

#header {}

.footer-inner {
              color: #ADFF2F;
}

#sidebar {
            background:url(http://oty1v077k.bkt.clouddn.com/sidebar-sitboy.jpg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #F5F5F5;}
}

#mydivshow{opacity: 0;}

//#posts code {color: #282828;background-color:#D3D3D3;}
.post-meta { color: #282828; * {color: #282828;} }
//.post-body { color: #282828; * {color: #282828;} }
//.content-wrap {width: 860px;margin:0 auto;}
.main-inner {width: 860px;}
#posts code {color: #FFFF00;background-color:#696969;}
.post.post-type-normal{margin: 0px 0px 0px 0px;}


// 主页文章的范围
.post {
          //margin-top: 10px;
          //margin-bottom: 10px;
          padding: 25px;
          -webkit-box-shadow: 0px 0px 5px #808080 inset;
          -moz-box-shadow: 0px 0px 5px #808080 inset;
         }

@font-face {
           font-family: 'iconfont';  /* project id 369420 */
           src: url('//at.alicdn.com/t/font_74zw9awlxvzehfr.eot');
           src: url('//at.alicdn.com/t/font_74zw9awlxvzehfr.eot?#iefix') format('embedded-opentype'),
           url('//at.alicdn.com/t/font_74zw9awlxvzehfr.woff') format('woff'),
           url('//at.alicdn.com/t/font_74zw9awlxvzehfr.ttf') format('truetype'),
           url('//at.alicdn.com/t/font_74zw9awlxvzehfr.svg#iconfont') format('svg');
           }
.iconfont {
             font-family:"iconfont";
             font-size:20px;
             font-style:normal;
          }

@font-face {
            font-family: 'iconfont';  /* project id 369420 */
            src: url('//at.alicdn.com/t/font_64rd804d1z66flxr.eot');
            src: url('//at.alicdn.com/t/font_64rd804d1z66flxr.eot?#iefix') format('embedded-opentype'),
            url('//at.alicdn.com/t/font_64rd804d1z66flxr.woff') format('woff'),
            url('//at.alicdn.com/t/font_64rd804d1z66flxr.ttf') format('truetype'),
            url('//at.alicdn.com/t/font_64rd804d1z66flxr.svg#iconfont') format('svg');
          }

.aplayer-list ol li:hover {   //悬停
                  background:rgba(148,0,211,0.8) none repeat scroll !important;
                }

.aplayer-list ol li {   //底色
                        background:rgba(0,0,0,0.5);
                    }

.aplayer-list-light {   //播放
                      background:rgba(100,149,237,0.5) none repeat scroll !important;
}

#player1 {
          border-radius: 6px;
          div,ol {border-radius: 6px;}

}

#player1 *{
            color: #FFFFFF;

}

.aplayer-list-index{float:left;}
.aplayer-list-title{float:left;}
.aplayer-list-author{float:right;}

//mysidebar controler style

.fixed_side{position:fixed;top:250px;width:130px;height:120px;right:-30px;}

	.mybtn{position:fixed;width:100px;height:120px;background-color:rgba(220,20,60,0);right:0px;}
  .mybtn:hover{cursor:pointer;}

  .waitingwordtop{background-color:rgba(255,255,255,0.5);width:140px;height:30px;position:absolute;top:-30px;right:-110px;color:#9400D3;opacity:0;border-radius:8px;p{height:30px;display:block;text-align:center;line-hight:30px;margin-bottom:0px;}}
  .waitingwordbuttom{background-color:rgba(255,255,255,0.5);width:140px;height:30px;position:absolute;top:120px;right:-110px;color:#FF4500;opacity:0;border-radius:8px;p{height:30px;display:block;text-align:center;line-hight:30px;margin-bottom:0px;}}

	#mysidebar{width:30px;height:120px;right:-30px;opacity:0;}

  .mysidebar div{position:absolute;width:28px;height:28px;background-size:100%;background-color:rgba(173,255,47,0.7);border-radius:80px;border: 1px solid black;}
  .mysidebar div:hover{background-color:rgba(255,140,0,0.8);border: 2px solid black;}

	.apmode-loop{background:url('http://ou68gv0zg.bkt.clouddn.com/newloop.png');top:0px;right:-30px;opacity:0;}

	.apmode-single{background:url('http://ou68gv0zg.bkt.clouddn.com/newsingle.png') no-repeat center;top:0px;right:-30px;opacity:0;}

	.apmode-order{background:url('http://ou68gv0zg.bkt.clouddn.com/neworder.png');top:0px;right:-30px;opacity:0;}

	.apmode-random{background:url('http://ou68gv0zg.bkt.clouddn.com/newrandom.png');top:0px;right:0px;}

	.lastsong{background:url('http://ou68gv0zg.bkt.clouddn.com/lastsong.png');top:30px;right:0px;}

	.pause{background:url('http://ou68gv0zg.bkt.clouddn.com/pause.png');top:60px;right:-30px;}

	.nextsong{background:url('http://ou68gv0zg.bkt.clouddn.com/nextsong.png');top:90px;right:0px;}

	.playsong{background:url('http://ou68gv0zg.bkt.clouddn.com/playsong.png');top:60px;right:0px;}

  @font-face {
  font-family: 'iconfont';  /* project id 369420 */
  src: url('//at.alicdn.com/t/font_o3v3v8tnvxre8kt9.eot');
  src: url('//at.alicdn.com/t/font_o3v3v8tnvxre8kt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_o3v3v8tnvxre8kt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_o3v3v8tnvxre8kt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_o3v3v8tnvxre8kt9.svg#iconfont') format('svg');
}
