// Custom styles.
body {
        background:url(http://oty1v077k.bkt.clouddn.com/body_girlasideflower.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }

//背景半透明的实现
.content {
            border-radius: 10px;
            margin-top: 60px;
            background:rgba(255,255,255,0.8) none repeat scroll !important;
         }
.header {
            //background: url('../image/head_bgp.jpg');
            background:rgba(0,0,0,0.7) none repeat scroll !important;
        }

#footer {
          background:rgba(0,0,0,0.5) none repeat scroll !important;
        }
#lv-container { border-radius: 10px; background:rgba(255,255,255,0.8) none repeat scroll !important;}

#header {}

.footer-inner {
              color: #ADFF2F;
}

#sidebar {
            background:url(http://oty1v077k.bkt.clouddn.com/sidebar-sitboy.jpg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #F5F5F5;}
}

#mydivshow{opacity: 0;}

#posts {* {color: #282828;}}
.post-meta { color: #282828; * {color: #282828;} }
.post-body { color: #282828; * {color: #282828;} }
.content-wrap {color: #282828;}

// 主页文章的范围
.post {
          margin-top: 60px;
          margin-bottom: 60px;
          padding: 25px;
          //-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
          //-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
         }

@font-face {
           font-family: 'iconfont';  /* project id 369420 */
           src: url('//at.alicdn.com/t/font_74zw9awlxvzehfr.eot');
           src: url('//at.alicdn.com/t/font_74zw9awlxvzehfr.eot?#iefix') format('embedded-opentype'),
           url('//at.alicdn.com/t/font_74zw9awlxvzehfr.woff') format('woff'),
           url('//at.alicdn.com/t/font_74zw9awlxvzehfr.ttf') format('truetype'),
           url('//at.alicdn.com/t/font_74zw9awlxvzehfr.svg#iconfont') format('svg');
           }
.iconfont {
             font-family:"iconfont";
             font-size:20px;
             font-style:normal;
          }

@font-face {
            font-family: 'iconfont';  /* project id 369420 */
            src: url('//at.alicdn.com/t/font_64rd804d1z66flxr.eot');
            src: url('//at.alicdn.com/t/font_64rd804d1z66flxr.eot?#iefix') format('embedded-opentype'),
            url('//at.alicdn.com/t/font_64rd804d1z66flxr.woff') format('woff'),
            url('//at.alicdn.com/t/font_64rd804d1z66flxr.ttf') format('truetype'),
            url('//at.alicdn.com/t/font_64rd804d1z66flxr.svg#iconfont') format('svg');
          }
